main {
  display: flex;
  flex-direction: column;
  background-color: #212529;
  color: #ffffff;

  #Header {
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 90%);
    padding-bottom: 100px;
    background: -webkit-linear-gradient(0deg, #e44dec, #4d81ec);
    user-select: none;

    img {
      max-width: 900px;
      width: 90%;
      margin: 20px auto;
      margin-top: 0;
      display: block;
    }
  }

  #Content {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    flex: 1;

    &-Header {
      font-size: 50px;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  #Footer {
    code {
      max-width: 1000px;
      width: 90%;
      margin: 0 auto;
      height: 50px;
      line-height: 50px;
      display: block;
      text-align: center;
    }
  }
}
