.Role {
  td {
    padding-bottom: 20px;

    &:last-child {
      padding-left: 20px;
    }
  }

  td.Name {
    width: max-content;
    display: inline-block;
  }

  &-Section {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 500px) {
  .Role {
    display: flex;
    flex-direction: column;

    td,
    td.Name {
      width: 100%;
      text-align: center;
    }

    td.Name {
      font-size: 20px;
      padding-top: 20px;
      padding-bottom: 5px;
    }

    &-Table {
      width: 100%;
    }
  }
}
